{% include 'base.html' %}

{% block content  %}

{% if classification_result == 1 %}

<div class="container">

    <h1 class='text-center mt-3'>Predicted Results</h1>
    <hr>

    <h1 class='text-center text-primary'>Result <b>{{ classification_result }}</b> Means COVID POSITIVE</h1>

    <h1 class='text-center'><b class='text-danger'>You Are Covid Affected! Go Have A Proper CheckUp Hurry</b></h1>
    
    

</div>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2><ul>COVID Facilities in States/Union Territories</ul></h2>
  <p>Public is hereby informed to call the Call centre at the Hospital / District / State level to
    know the availability of beds and ventilators before proceeding to the hospitals concerned
    for their requirement</p>
  <table class="table">
    <thead>
      <tr class="table-danger">
        <th>Sr
            No</th>
            <th>State/UT </th>
            <th>Helpline Number</th>
        <th> State Website link for refernce</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">

      <td>1</td>
      <td>Andaman &
Nicobar
Islands </td>
<td>03192-232102</td>
<td>
  <a href=
  "

http://dhs.andaman.gov.in/NewEvents/249.jpeg">link</a>

</td>
      </tr>      
      <tr class="table-primary">
        <td>2</td>
        <td>
        
Andhra
Pradesh</td>
<td>
 0866-2410978</td> 
 <td>
   <a href="
   http://hmfw.ap.gov.in/COVID-19%20IEC/COVID19%20Hospitals.pdf">link</a>
 </td>
        
      </tr>
      <tr class="table-success">
       <td> 3</td>
       <td>
Arunachal
Pradesh </td>
<td>
9436055743
</td>
<td><a href=" http://nrhmarunachal.gov.in/covid_19_IEC.html">link</a></td>
      </tr>
      <tr class="table-success">
       <td> 4 </td>
       <td>Assam </td>
       <td>6913347770</td>
       <td> <a href="https://nhm.assam.gov.in/portletinnerpage/dedicated-covid-hospitals">link</a>
         </td>
        
      </tr>
      
      <tr class="table-warning">
        <td>5</td>
        <td> Bihar</td> 
        <td>104</td>
        <td><a href="http://statehealthsocietybihar.org/">'ink</a></td>
        
      </tr>
      <tr class="table-active">
       <td> 6 </td>
       <td>Chandigarh </td>
       <td>9779558282 </td>
       <td><a href="http://chdcovid19.in/">link</a></td>
        
      </tr>
      <tr class="table-secondary">
        <td>7 </td>
        <td>Chhattisgarh</td>
           <td>104</td>
           <td><a href="http://cghealth.nic.in/cghealth17/">link</a></td>
        
      </tr>
      <tr class="table-active">
       <td> 8</td>
       <td>
Dadra and
Nagar Haveli
and Daman
and Diu</td>
<td>
104 
</td>
<td><a href="http://dnh.nic.in/Docs/COVID19/COVID19Health
_Fac08052020.pdf">link</a></td>
        
      </tr>
      <tr class="table-dark text-dark">
        <td>9 </td>
        <td>Delhi</td>
        <td> 011-22307145</td>
         <td><a href="https://coronabeds.jantasamvad.org/">link</a></td>

      </tr>
      <tr class="table-secondary">
        <td>10</td>
        <td>Goa 
        </td>
           <td>104 
          </td>
           <td><a href="https://nhm.goa.gov.in/corona-virus-importantlinks-iec/">link</a></td>
        
      </tr>
    
    <tr class="table-warning">
      <td>11</td><td> Gujarat</td> 
      <td>104</td>
      <td><a href=" https://nrhm.gujarat.gov.in/cir-noti-covid19.htm">link</a></td>
      
    </tr>
    <tr class="table-light">
      <td> 12</td>
      <td>
Harayana</td>
<td>
  8558893911 
</td>
<td><a href="http://nhmharyana.gov.in/page.aspx?id=208">link</a></td>
       
     
    </tr>
    <tr class="table-dark text-dark">
      <td>13</td>
      <td>Himachal</td>
      <td> 104</td>
       <td><a href="http://www.nrhmhp.gov.in/content/covidhealth-facilities">link</a></td>
      </tr>
      <tr class="table-dark text-dark">
        <td>14 </td>
        <td>Jammu and
          Kashmir
        </td>
        <td>
          01912520982, 0194-
          2440283</td>
         <td><a href="https://www.jknhm.com/covidfacilities.php">link</a></td>

      </tr>
      <tr class="table-secondary">
        <td>15</td>
        <td>jharkhand
        </td>
           <td>104 
          </td>
           <td><a href=" http://jrhms.jharkhand.gov.in/FileUploaded%20
            By%20User/DCovid_Hospitals.pdf">link</a></td>
        
      </tr>
      <tr class="table-active">
        <td> 16 </td>
        <td>karnataka</td>
        <td>104</td>
        <td><a href=" https://karunadu.karnataka.gov.in/hfw/nhm/pa
          ges/home.aspx">link</a></td>
         
       </tr>
       <tr class="table-active">
        <td> 17</td>
        <td> kerla</td>
        <td>0471-2552056</td>
        <td><a href="http://arogyakeralam.gov.in/2020/03/25/guideli
          nes/">link</a></td>
          </tr>
          <tr class="table-warning">
        <td>18</td>
        <td> ladakh</td> 
        <td>104</td>
        <td><a href="https://leh.nic.in/notice/covid19-hospital/">'ink</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>19</td>
        <td> lakshadeep</td> 
        <td>104</td>
        <td><a href="
          https://cdn.s3waas.gov.in/s358238e9ae2dd305d
          79c2ebc8c1883422/uploads/2020/05/20200512
          28-1.pdf">link</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>20</td>
        <td> Bihar</td> 
        <td>104</td>
        <td><a href="http://statehealthsocietybihar.org/">'ink</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>21</td>
        <td> Madyapradesh</td> 
        <td>104</td>
        <td><a href="https://www.nhmmp.gov.in/CovidInformation.a
          spx">link</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>22</td>
        <td> manipur</td>
       
        <td>3852411668 </td>
        <td><a href="http://nrhmmanipur.org/?page_id=2602">link</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>23</td>
        <td>Meghalaya</td> 
        <td>108</td>
        <td><a href="http://meghalayaonline.gov.in/covid/images/ma
          terials/hospitals.pdf">link</a></td>
        
      </tr>
      <tr class="table-warning">
        <td>24</td>
        <td> Mizoram</td> 
        <td>104</td>
        <td><a href="http://nhmmizoram.org/page?id=202">link</a></td>
        
      </tr>
      <tr class="table-secondary">
        <td>25</td>
        <td>Nagaland
        </td>
           <td>7005539653
            
          </td>
           <td><a href="
            http://nhmnagaland.in/Notification_file_path/D
            edicated%20COVID%20Hospitals%20in%20Nagal
            and.pdf">link</a></td>
        
      </tr>
      <tr class="table-active">
        <td> 26 </td>
        <td>Odisha</td>
        <td>9439994859</td>
        <td><a href=" https://statedashboard.odisha.gov.in/">link</a></td>
         
       </tr>
       <tr class="table-active">
        <td> 27</td>
        <td>Pudicherry</td>
        <td>104</td>
        <td><a href="
          https://health.py.gov.in/sites/default/files/NEET
          -
          PDF/Categorisation%20of%20covid%20facilities.
          pdf">link</a></td>
          </tr>
          <tr class="table-warning">
        <td>28</td>
        <td>Punjab</td> 
        <td>104</td>
        <td><a href="http://pbhealth.gov.in/">'ink</a></td>
        
      </tr>
    </tr>
    <tr class="table-dark text-dark">
      <td>29 </td>
      <td>Rajastan</td>
      <td>0141-2225624</td>
       <td><a href=" http://rajswasthya.nic.in/PDF/COvid%20Facility
        %20Rajasthan.pdf">link</a></td>

    </tr>
    <tr class="table-secondary">
      <td>30</td>
      <td>sikkim
      </td>
         <td>104 
        </td>
         <td><a href=" https://www.covid19sikkim.org/">link</a></td>
      
    </tr>
  
  <tr class="table-warning">
    <td>31</td><td>Tamilnadu</td> 
    <td>104</td>
    <td><a href="https://www.covid19sikkim.org/">link</a></td>
    
  </tr>
  <tr class="table-primary">
    <td> 32</td>
    <td>Telagana</td>
<td>
104 
</td>
<td><a href=" https://www.chfw.telangana.gov.in/covid_hospi
  tals.html
  ">link</a></td>
     
   
  </tr>
  <tr class="table-dark text-dark">
    <td>33</td>
    <td>Tripura</td>
    <td>0381-2315879</td>
     <td><a href="http://tripuranrhm.gov.in/home/0905202001.pdf">link</a></td>
    </tr>
    <tr class="table-dark text-dark">
      <td>34 </td>
      <td>Utter Pradesh
      </td>
      <td>18001805145</td>
       <td><a href="
        https://updgmhcovid19.maps.arcgis.com/apps/opsdashboard/in
        dex.html#/bfc888151feb48928a4f6885ca20e83c">link</a></td>

    </tr>
    <tr class="table-secondary">
      <td>35</td>
      <td>Uttarakhand
      </td>
         <td>104 
        </td>
         <td><a href=" https://health.uk.gov.in/pages/view/102-
          dedicated-covid-facilities-in-state">link</a></td>
      
    </tr>
    <tr class="table-active">
      <td> 36 </td>
      <td>westbengal</td>
      <td>1800313444222,
        03323412600,</td>
      <td><a href="
        https://www.wbhealth.gov.in/uploaded_files/co
        rona/Notification___Revised___67_Covid_Hospi
        tal___30.04_.2020_.pdf">link</a></td>
       
     </tr>

         


    </tbody>
  </table>
</div>

</body>
</html>





{% else %}

<div class="container">

    <h1 class='text-center mt-3'>Predicted Results</h1>
    <hr>

    <h1 class='text-center text-primary'>Result <b>{{ classification_result }}</b> Means COVID Negative</h1>

    <h1 class='text-center'><b class='text-success'>You Are Safe and Secure. No Need to Checkup</b></h1>

    <a class='btn btn-primary mt-4 p-1 text-center' href="{% url 'home' %}">Go Back</a>

</div>

{% endif %}





{% endblock content  %}